[2013-01-31 09:34] aslakhellesoy opened #1 "Can't build windows gem"
If I try to run `rake cross compile` my build fails:

[code]

I don't have a Windows box handy, but I suspect there is something wrong with the `/c/Makefile`.

@luislavena - it would be fantastic if you could take a look at this. I'm considering building a new Gherkin 3.0 based on this project if I can make it build for Windows.

[2013-01-31 12:31] luislavena commented on #1
@aslakhellesoy are you forcing `CC`, `CXX`, `LDFLAGS` or `CPPFLAGS` in your environment? That affects compilation.

I'll check later today against my office computer and let you know.

[2013-01-31 12:35] aslakhellesoy commented on #1
@luislavena - no none of these environment variables are defined. Thanks for looking into this Luis!

[2013-01-31 16:48] luislavena commented on #1
@aslakhellesoy the problem is here:

https://github.com/cucumber/bool/blob/master/ruby/ext/bool_ext/extconf.rb#L7-L9

You're invoking the compilation of a C library by shelling out. That has nothing to do with rake-compiler.

`libbool` itself is unaware of cross-compilation. You will need to change bool `Makefile` to be able to use `CC` and `AR` from the environment.

Then, you will be able to do:

[2013-01-31 19:40] #1 closed, assigned to nobody

[2013-01-31 19:46] aslakhellesoy commented on #1
Luis - thanks a bunch! Everything builds fine on my box now (OS X 10.7.5). Not sure why it doesn't build on yours. From my `ruby/tmp/x86-mingw32/bool_ext/1.9.3/mkmf.log`:

[code]

And my `ruby/tmp/x86_64-darwin11.3.0/bool_ext/1.9.3/mkmf.log`

[code]

As you can see my box uses `clang` and not `gcc`. Maybe that's why.

[2013-01-31 21:06] luislavena commented on #1
Yeah, I use GCC 4.7, and I think doesn't come with fl library.

Ruby and other libraries were compiled with it, so cannot change to clang.

Either way, I think the changes I sent helped, right? Will bool be >= 1.9.3?

Sorry for top posting. Sent from mobile.
On Jan 31, 2013 4:46 PM, "Aslak Hellesøy" notifications@github.com wrote:

[2013-01-31 21:13] aslakhellesoy commented on #1
Yep, I don't plan on supporting older rubies, so I think using clang should be fine.

[2013-02-01 14:10] aslakhellesoy opened #2 "Capture error messages from lexing and parsing in C/Ruby"
The _Exceptions_ spec in [ruby/spec/bool_spec.rb](https://github.com/cucumber/bool/blob/master/ruby/spec/bool_spec.rb) doesn't make an assertion about the error messages, but it should. (It's commented out).

This is needed in order to make it easier for users to fix their typos.

I haven't quite figured out how to do this in C/Ruby, but I have a hunch that we need to use [strerror](http://www.gnu

[2013-02-01 23:41] aslakhellesoy opened #3 "Fail c build if there are warnings"
There is currently one warning with `clang` on travis:

https://travis-ci.org/cucumber/bool/jobs/4527724

[2013-02-02 21:09] aslakhellesoy commented on #3
In Ruby, `rake cross compile` als gives several warnings:

[code]

[2013-02-04 14:54] aslakhellesoy opened #4 "Implement a parser for .NET"
IT could use [GPPG](http://gppg.codeplex.com/) which is a Lex/Yacc clone, and would therefore be very similar to the other ones.

@gasparnagy is this something you'd be interested in helping out with as well as native .NET support for Gherkin3?

[2013-02-04 14:55] aslakhellesoy opened #5 "Create release target"
We should be able to make a cross-platform release with a single command. That means publishing:
- jar to Maven Central
- 3 gems (MRI/POSIX, MRI/Windows, JRuby) to rubygems.org
- npm package to npmjs.org
- nuget package to nuget.org

The prerequisites for how to make a release (various accounts, GPG keys etc) should be clearly described in RELEASE.md

[2013-02-05 13:45] aslakhellesoy commented on #3
Turns out we need Bison 2.7 in order for all warnings to go away. If you're using Bison 2.5 (which is what's on travis, and also the latest you get with apt-get), then you get warnings.

So we need to force Bison 2.7. I'll add a target to the Makefile that installs it.

[2013-02-05 14:48] aslakhellesoy commented on #3
The toplevel `Makefile` now installs and uses `./bison-2.7` if bison is absent or older than 2.7. All warnings are gone now, except for mingw compilation. We can live with that - it's based on an old gcc and I don't think it's a big issue as long as the main gcc/clang build is warning-less.

[2013-02-05 14:48] #3 closed, assigned to nobody

[2013-02-05 14:51] aslakhellesoy commented on #2
@sebrose you mentioned you'd like to take a look at this ticket. Still up for it?

[2013-02-05 14:53] sebrose commented on #2
Yes. I'm on it.

On 5 February 2013 14:51, Aslak Hellesøy notifications@github.com wrote:

##

ACCU - Professionalism in Programming - http://accu.org

http://www.claysnow.co.uk
http://twitter.com/#!/sebrose
http://uk.linkedin.com/in/sebrose

[2013-02-05 16:07] sebrose commented on #2
2 things:

1) Pulled down latest from Github 7ef8e06 - now bool/c builds fine, but
bool/ruby fails because of warnings in lexer.c and ast.c -

Removing -Wall from extconf.rb fixes it, but can't see why it succeeds in
bool/c and not from bool/ruby.

2) When I have changes to commit am I to put them straight into
cucumber/bool, or shall I commit them on a fork and issue a pull?

Cheers
Seb

On 5 Feb

[2013-02-05 16:13] aslakhellesoy commented on #2
Are you on 7ef8e060483fcfbf1e089f6f1825b648b51401b3 ?
I'd like to keep -Wall if possible. The build passes on Travis, my ubuntu box and my OS X box.

While fixing #3 I made bison 2.7 a requirement. It's needed to avoid warnings. What flex and bison versions do you have, what is your C compiler (gcc or clang), what version is it and finally - what is the warning causing it to fail?

[2013-02-05 16:24] mattwynne commented on #2
@seb re fixes, I wouldn't make your own fork. If you have a change that you think might need review / discussion by other people on the team, make a pull request from a branch within this repo, and then we can discuss the changes there.

The https://github.com/defunkt/hub project gives you loads of useful CLI tools for interacting with Github pull requests.

[2013-02-05 16:45] mattwynne commented on #2
I have a failing Ruby build now too as of 7ef8e06. Here's the error I get:

[code]

I have:
- flex 2.5.35 Apple(flex-31)
- bison 2.7
- gcc 4.2.1
- clang-425.0.24 / Apple LLVM version 4.2 (based on LLVM 3.2svn)

How do I tell which C compiler I'm using?

[2013-02-05 16:51] sebrose commented on #2
On 5 February 2013 16:45, Matt Wynne notifications@github.com wrote:

These are the same errors as me.

I'm using:
bison 2.7
flex 2.5.35
gcc 4.2.1 (though I appear to have 2 builds of this 5666dot3 and 5658 -
however neither of them complains when I compile from the terminal)
I don't believe I'm using clang

##

ACCU - Professionalism in Programming - http://accu.org

http://www.claysnow.co.uk
htt

[2013-02-05 17:00] aslakhellesoy commented on #2
@mattwynne can you try again after doing a `make clean` from the root?
You should can see what C compiler is used in the standard output and in your mkmf.log files under tmp.

[2013-02-05 17:04] mattwynne commented on #2
OK now I get a new error:

[code]

And it looks like I'm using gcc. Is that good? :)

[2013-02-05 17:31] aslakhellesoy commented on #2
It's good that you're using gcc, because I'm using clang. That way we're covering more platforms. If you upgrade your XCode you'll get clang too, but it's possible to force gcc with `CONFIG['CC'] = 'gcc'` in `extconf.rb`.

I have a fix in mind based on http://stackoverflow.com/questions/3599160/unused-parameter-warnings-in-c-code, but we also need to inject some `UNUSED` into the flex generated `l

[2013-02-05 17:31] aslakhellesoy commented on #2
For now, just remove `-Werror` from `c/Makefile` and `extconf.rb` locally to get around the warning problems.

[2013-02-05 20:14] sebrose commented on #2
I'm now getting the following in the Java build

[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR]
/Users/macbookair/Projects/bool/java/target/generated-sources/jflex/bool/JFlexLexer.java:[16,36]
interface expected here
[ERROR]
/Users/macbookair/Projects/bool/java/target/generated-sources/jflex/bool/JFlexLexer.java:[229,5]
method does not over

[2013-02-05 20:24] sebrose commented on #2
Committed changes that capture lexing and parsing errors and report them in the exception raised.

Still need to get my head around Bison's %locations directive and all the changes that entails if we want to capture line/column number of error too.

[2013-02-05 21:27] aslakhellesoy commented on #2
@sebrose I removed JFlexLexer a while ago. You need to do a clean build.

[2013-02-05 21:32] sebrose commented on #2
Doh!

On 5 February 2013 21:27, Aslak Hellesøy notifications@github.com wrote:

##

ACCU - Professionalism in Programming - http://accu.org

http://www.claysnow.co.uk
http://twitter.com/#!/sebrose
http://uk.linkedin.com/in/sebrose

[2013-02-06 08:19] gasparnagy commented on #4
Sure. I'm definitely interested in this.

[2013-02-06 08:26] aslakhellesoy commented on #2
I see you fixed this @sebrose, good job. For the future, when you fix a ticket, close it with a commit message so we can trace what fixed it later. This can be done with a commit message containing "Closes #2,#3". Don't remember exactly where on github this is documented. It's worth looking up.

[2013-02-06 08:26] #2 closed, assigned to nobody

[2013-02-06 08:58] ilanpillemer commented on #3
The Java README still refers to needing bison 2.5; should that be updated to 2.7?

[2013-02-06 09:08] aslakhellesoy commented on #3
Yes please!

[2013-02-06 09:28] aslakhellesoy commented on #4
@gasparnagy great!

I think it would be a good idea to start with a .NET implementation of the bool parser, to get familiar with the tool chain. Ideally it should be possible to build it with mono so we can make releases from a single OS X/Linux box.

Once this is working it will be much easier to implement a gherkin parser based on the bool project structure.

How does that sound?

[2013-02-06 09:48] sebrose commented on #2
Will do.

On 06/02/2013, Aslak Hellesøy notifications@github.com wrote:

[2013-02-06 11:33] mattwynne commented on #4
I can help a bit with this too, I still have some .NET experience left. In fact I wrote some C# today :)

[2013-02-06 14:30] sebrose commented on #4
On 6 February 2013 11:33, Matt Wynne notifications@github.com wrote:

##

ACCU - Professionalism in Programming - http://accu.org

http://www.claysnow.co.uk
http://twitter.com/#!/sebrose
http://uk.linkedin.com/in/sebrose

[2013-02-06 15:13] aslakhellesoy commented on #4
@gasparnagy @mattwynne @sebrose please update http://cukes.info/team.html to reflect this.

When you start I suggest you just add `gplex.exe` and `gppg.exe` to `./csharp/bin` along with a copy of the license for each.

You may want to create some more fine grained tickets to divide work between you.

[2013-02-06 19:29] gasparnagy commented on #4
I'm quite overloaded next week, but in the week starting with the 18th i can look into that. I think the mono building should not be an issue.

[2013-02-07 09:25] sebrose opened #11 "Add line/column location of parse error to reporting"
Add the location of the error to the reporting mechanism to make it easier for the user to identify where the problem is.

[2013-02-07 10:22] mattwynne commented on #11
Is this ticket for all platforms or just Ruby?

[2013-02-07 10:24] aslakhellesoy commented on #11
I've labelled it with c/java/javascript, which should cover all platforms

[2013-02-07 11:52] sebrose commented on #11
I've committed changes for Java and C/Ruby. I'll have a look at Javascript when I get a chance (but the tests all still pass)

[2013-02-07 16:46] aslakhellesoy commented on #11
@sebrose it looks like you accidentally reverted a bunch of stuff I had done in 859dd0113d5be07dda3a0ca562b26d452676424a

Can you please read my comments in that commit and restore what was removed?

[2013-02-07 18:47] sebrose commented on #11
Yes. Will do

[2013-02-07 22:56] sebrose commented on #11
I have committed a fix to this in the fix_unwanted_revert branch. @aslakhellesoy could you have a quick look to check that it's OK & merge across to master?

[2013-02-08 07:41] aslakhellesoy commented on #11
Thanks a lot Seb. Looks perfect. It's easy to uncock-up with Git too, once you figure out the command to use :-)

[2013-02-08 10:49] sebrose commented on #11
Yes indeed. And there are plenty to choose from.

On 8 February 2013 07:41, Aslak Hellesøy notifications@github.com wrote:

##

ACCU - Professionalism in Programming - http://accu.org

http://www.claysnow.co.uk
http://twitter.com/#!/sebrose
http://uk.linkedin.com/in/sebrose

[2013-02-08 13:10] sebrose opened #13 "Inconsistent gcc build flags for C and Ruby"
c/Makefile uses the following flags:
-fPIC -O2 -Werror -Wall -Wunused-parameter

The makefile generated during the Ruby build also includes -Wextra and then explicitly _turns off_ many of the unused options (implied by -Wextra), which we then turn on again using a further -Wall

We should:
1) add -Wextra to c/Makefile
2) remove all instances of -Wunused-parameter (because this is implied by -Wextr

[2013-02-08 23:42] aslakhellesoy commented on #11
I have implemented this for JavaScript as well. I have only made some modifications to how we report line and column numbers. In addition to embedding them in the exception message we also attach them to the exceptions. This makes it easy for a Cucumber implementations to throw exceptions with a stack frame pointing to the file and line. It can also be helpful for other purposes, like outputting s

[2013-02-08 23:43] aslakhellesoy commented on #11
Forgot to say, my code is on the `syntax-error-line-column` branch: https://github.com/cucumber/bool/network

[2013-02-08 23:55] aslakhellesoy commented on #11
This might be useful to fix the locations: https://github.com/remusao/Bison-Flex-C-template/blob/master/src/parse/scan.l

[2013-02-09 00:01] aslakhellesoy commented on #11
And this is how we might deal with lexing errors: https://github.com/GrooveStomp/Flex-Bison/blob/master/samples/purecalc.l#L74

[2013-02-09 22:36] sebrose commented on #11
I've pushed some changes in the syntax-error-line-column branch.

We get correct line & column number in C & report the invalid character. I added a basic test file as I went just to make life easier. It's not a great unit test framework, but it is simple!

The remaining problem is that JFlex seems to have different behaviour, in some cases, under Java and JRuby. I added a test to LexerTest.java t

[2013-02-10 18:53] aslakhellesoy commented on #11
@sebrose are you referring to `test_again`? I removed that test in 5dd3ad4a34f77c1b1105bb4d020dfffd10241ee4 because it never entered the catch block because the text lexes just fine. It just doesn't parse, but that's irrelvant in this case since we're testing the lexer and not the parser.

[2013-02-10 20:28] aslakhellesoy commented on #13
I agree we should add `-Wextra` to `c/Makefile`, but I'm not so sure about removing `-Wunused-parameter` from `ruby/ext/bool_ext/extconf.rb`. The generated `Makefile` contains (amon other things) `-Wextra -Wno-unused-parameter`.

It doesn't seem like our `-Wall` implicitly turns `-Wunused-parameter` back on. Try commenting out the `UNUSED(klass);` in `ext.c`. You'll only get a warning (and fail th

[2013-02-10 20:29] #13 closed, assigned to nobody

[2013-02-10 22:58] sebrose commented on #13
@aslakhellesoy I commented out the UNUSED(klass) statement in ext.c and the -Wunused-parameter from extconf.rb and still got the warning as expected. Could you try yours again please?

[2013-02-11 06:22] sebrose commented on #11
@aslakhellesoy Thanks for removing `test_again` - it was getting late : )

The problem I was struggling with can be seen in `parser_spec.rb` where the column number returned differs between Ruby & JRuby. We need to do something about this.

[2013-02-11 06:34] sebrose commented on #13
@aslakhellesoy this may be the clang/gcc issue back again. The problem with using `-Wunused-parameter` is that there are several other warning flags explicitly fiddled with in the generated makefile.

`-Wno-unused-parameter -Wno-parentheses -Wno-long-long -Wno-missing-field-initializers -Wpointer-arith -Wwrite-strings -Wdeclaration-after-statement -Wshorten-64-to-32 -Wimplicit-function-declaration

[2013-02-11 07:14] aslakhellesoy commented on #5
Fixed! Apart from nuget package, see #4

[2013-02-11 07:14] #5 closed, assigned to aslakhellesoy

[2013-02-11 07:33] aslakhellesoy opened #17 "Inconsistent column numbers with JFlex/Flex/Jisonlex"
See `/ruby/spec/parser_spec.rb` and `/javascript/test/parser_test.js`.

Line numbers seem to be consistent, which is probably sufficient for decent error reporting (maybe not for boolean expressions, but at least for gherkin).

[2013-02-11 07:35] aslakhellesoy commented on #11
I have created #17 for column number inconsistencies. I don't think it's the most important issue to solve right now. Line numbers should be sufficient to give us decent line numbers, at least for gherkin.

[2013-02-11 08:11] sebrose opened #18 "Release karma request"
I have created accounts on the 3 sites. All have the same username: sebrose

Still waiting for publish rights at Sonatype

Can I have release karma?

[2013-02-11 10:06] aslakhellesoy commented on #18
I have given you npm karma. I need the email you registered with at rubygems.org to give you karma there. See af3912f5852739689c67fd40c3e5c3394ddc6f2d

[2013-02-11 11:15] sebrose commented on #18
github@claysnow.co.uk

On 11/02/2013, Aslak Hellesøy notifications@github.com wrote:

[2013-02-11 11:19] aslakhellesoy commented on #18
Done! http://rubygems.org/gems/bool

[2013-02-11 11:19] #18 closed, assigned to nobody

[2013-02-11 17:22] ilanpillemer opened #20 "Release Karma Request"
rubygems.org : ilanpillemer
npmjs.org : ilanpillemer
oss.sonatype.org : ilanpillemer

All three have the same username (same as in github too) : ilanpillemer
email: ilan.pillemer@gmail.com

I have submitted the following issue to Sonatype: https://issues.sonatype.org/browse/OSSRH-5382
Can someone confirm this was correctly filled in?

[2013-02-11 19:17] aslakhellesoy commented on #20
@ilanpillemer DEVELOPERS.md links to an old issue you're supposed to comment in. It might be quicker if you comment in that one.

@sebrose can you give the karma?

[2013-02-11 21:55] ilanpillemer commented on #20
hmm.. Joel Orlina has already added this comment to the issue(https://issues.sonatype.org/browse/OSSRH-5382): "Can you have Aslak Hellesøy, the Cucumber project owner, comment on this issue to confirm that you should receive deployer access to this groupId?"... so maybe just add a comment?

I can't see a link to an issue in DEVELOPERS.md in BOOL? Are you referring to a different DEVELOPERS.md?

[2013-02-11 22:05] ilanpillemer commented on #20
Joel has closed the Sonatype issue, saying he has granted permissions based on Aslak's comment in this issue #20.

[2013-02-11 22:28] aslakhellesoy commented on #20
@ilanpillemer My bad about the link. Fixed! 45b3c6a8d3751a8c1a062736885cf4a6a0d8eaee

[2013-02-12 01:43] dkowis opened #23 "Release Karma Request"
- Rubygems: https://rubygems.org/profiles/BeepDog
- nerd.js: username: beepdog (aww, there's no profile link)
- Sonatype: https://issues.sonatype.org/browse/OSSRH-2050?focusedCommentId=180294&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-180294
  - username: beepdog

I don't believe Sonatype has authorized me for anything, their instructions are also a bit confusing

[2013-02-12 02:04] dkowis opened #24 "Error in lexer.c building on Fedora 18 x86_64"
This is on a fresh pull, it went ahead and built a bison 2.7 for me.

[code]

[2013-02-12 08:37] aslakhellesoy commented on #24
Do you still get warnings with flex 2.5.37?

[2013-02-12 16:38] dkowis commented on #24
I'll have to manually install flex 2.5.37, I'll try to do that this evening.

[2013-02-12 20:30] aslakhellesoy commented on #23
Assigning this to you @mattwynne so you get the hang of it.

[2013-02-12 20:50] ilanpillemer commented on #20
@sebrose have you had a chance to give the karma yet?

[2013-02-12 20:54] aslakhellesoy commented on #20
I've done this now

[2013-02-12 20:54] #20 closed, assigned to nobody

[2013-02-12 21:12] ilanpillemer opened #27 "Attempt to do a release, now that I have karma."

[2013-02-12 21:31] #27 closed, assigned to ilanpillemer

[2013-02-12 22:28] ilanpillemer opened #28 "attempt to do a second release with one run and no funnies"

[2013-02-12 22:31] #28 closed, assigned to ilanpillemer

[2013-02-13 02:43] dkowis commented on #23
Sonatype has added me to things, btw

[2013-02-13 09:23] #24 closed, assigned to nobody

[2013-02-13 22:29] mattwynne commented on #23
@beepdog you should have the karma now. I am still making point releases myself to iron out the kinks in my own setup, so be warned if you try to do your own releases.

[2013-02-14 00:03] mattwynne commented on #23
Okay I am done. 1.0.9 is all yours @beepdog. Good luck and RTFM is all I can say.

[2013-02-14 13:54] aslakhellesoy opened #30 "jruby gem can't be loaded"
Reproduce:

[code]

Output:

[code]

Any takers? If someone fixes it, please do it on a branch so it can be reviewed.

[2013-02-14 14:18] aslakhellesoy commented on #30
Looks like `require('libbool')` in `evaluator.rb` should be `require('bool_ext')`.

What I don't understand is why this doesn't raise an exception when the specs are run on jruby. Changing it to `require('libfoo')` does cause an exception to be raised, so I'm wondering how `require('libbool')` can possibly pass at all in development?!?!

I'd like to understand this before going ahead and replacing

[2013-02-14 14:43] mattwynne commented on #30
On 14 Feb 2013, at 14:18, Aslak Hellesøy notifications@github.com wrote:

[2013-02-14 15:05] aslakhellesoy commented on #30
The jar was once called `libbool.jar`. I renamed it and forgot to update the source.

Here is the super weird thing:
Try changing it to `require 'libwtf'` and see `rake` fail. Then add a `lib/wtf.rb` file and see it pass (!!?!!). Wat?

This _sort of_ explains why `require 'libbool'` works (there is a `lib/bool.rb`). If you move the `require 'libwtf'` to the top of the file and run with MRI it fail

[2013-02-14 16:04] aslakhellesoy commented on #30
I reproduced it: https://github.com/aslakhellesoy/jruby-require-wat

Now that I'm confident this is a JRuby bug we can fix this.

[2013-02-14 18:25] #30 closed, assigned to nobody

[2013-02-14 23:16] aslakhellesoy opened #32 ""c || a && b" should be true for a,c"
But it's not! It evaluates to false.

[2013-02-14 23:19] aslakhellesoy commented on #32
The unit tests that demonstrate the bug are on the `broken-boolean-logic` branch. It fails on both Ruby/JRuby, and if we were to add similar tests for Java and JavaScript (we should) I assume they would fail in a similar way.

[2013-02-15 08:42] mattwynne commented on #32
Cool!

My guess is this is about precedence. We need to tell it we mean `c || (a && b)`

I was wondering if we needed to do this, and whether it would help us to explore a bit more about how gherkin will have to work, in terms of having a logical structure on top of the parsed tree. Glad you've found an example!

[2013-02-15 10:27] sebrose commented on #32
AND and OR have been given equal precedence in parser.y by the statement:

%left TOKEN_OR TOKEN_AND

Splitting it into two lines gets the test to pass:
%left TOKEN_OR
%left TOKEN_AND

We'll need to consider the precedence of TOKEN_NOT too, I suppose. Also, parens?

More examples required.

On 15/02/2013, Matt Wynne notifications@github.com wrote:

[2013-02-15 10:44] aslakhellesoy commented on #32
@sebrose good catch!

One way to test that the parser works correctly is to represent parsed expressions with explicit parenthesis:

Example:

[code]

This can be done easily with a new Explicit visitor that returns a string. This way we can test parsing of many different expressions without even having to evaluate them.

[2013-02-15 14:23] sebrose commented on #32
On 15 February 2013 10:44, Aslak Hellesøy notifications@github.com wrote:

##

ACCU - Professionalism in Programming - http://accu.org

http://www.claysnow.co.uk
http://twitter.com/#!/sebrose
http://uk.linkedin.com/in/sebrose

[2013-02-16 20:38] ilanpillemer commented on #32
In the Java tests the following were my results:
`a || b && c given a, b should be true` failed
`a || b && c given a, c should be true` passed!!

Strange.. as the above comments say that the second one failed in Ruby.

Unless I have mistyped something and my test is buggy ...

...its strange that Ruby failed on one that passed Java.

But Java is still failing on a different case; so at least it st

[2013-02-17 07:35] aslakhellesoy commented on #32
@ilanpillemer your `a || b && c given a, c` looks nothing like my original test: `c || a && b given a, c`

Thanks for writing java tests, but what about my suggestion to render the AST with parentheses instead?

[2013-02-17 07:37] ilanpillemer commented on #32
On Sunday, February 17, 2013, Aslak Hellesøy wrote:

oops.. my bad. I now see its exactly like the one that fails.

##

Ilan

[2013-02-17 18:32] ilanpillemer commented on #32
Now that the Explicit Visitor is working nicely and tests are passing... should we delete the EvaluatorTest?
Since by simply rendering the expression with parentheses as suggested by @aslakhellesoy , the tests run so much faster.. and since the Evaluator test is really slow - Is there any value now in the test being there?

[2013-02-17 22:02] mattwynne commented on #32
On 17 Feb 2013, at 18:32, Ilan Pillemer notifications@github.com wrote:

cheers,
Matt

##

http://mattwynne.net || https://twitter.com/mattwynne || http://the-cucumber-book.com || http://bddkickstart.com || http://www.relishapp.com

[2013-02-18 10:17] ilanpillemer commented on #32
Just the tests that are now being served by the ExplicitTests.
But I think at least one basic test should remain for the Evaluator. I am just in a dilemma about how basic it should be.

[2013-02-18 21:06] ilanpillemer commented on #32
edited parser.y so that all ruby and jruby tests pass.
[344e1de](https://github.com/cucumber/bool/commit/344e1de2f8db4ced5f21168a3e789e8e2116dc18)

[2013-02-18 21:10] ilanpillemer commented on #32
So I have created an explicit visitor in Java, Javascript and Ruby. Added tests, and then changed the C, javascript and Java parser definition files to make the tests pass.

I wanted to change at least the Java Class names for Evaluator to EvaluatorVisitor but that broke JRuby. This would then mean I would have to change the Ruby class names as well. I did not feel comfortable doing that without a

[2013-02-19 06:25] ilanpillemer commented on #32
I have noticed that the make fails after a clean; due to warnings from the C compiler. This also happens on master... which makes me wonder why Master is not failing to build.. does Travis run clean every time?

[2013-02-19 06:28] ilanpillemer commented on #32
Specifically the `make` fails after a `clean` with

[code]

But if you compile it first with warnings off; then `make` works fine from then on; until another `make clean`.

As mentioned this is separate from the issue this branch is for; so should we merge this anyway?

[2013-02-19 07:14] sebrose commented on #32
Which compiler? What version of the compiler?

On 19/02/2013, Ilan Pillemer notifications@github.com wrote:

[2013-02-19 17:02] mattwynne commented on #32
On 18 Feb 2013, at 21:10, Ilan Pillemer notifications@github.com wrote:

As I said in that ticket, I prefer trying to find domain-meaningful names for classes whenever possible, rather than leaning on design patterns to name things. If my understanding is correct, I'd say the Explicit class might be better named ExplicitRenderer or even just Renderer, since it's job is to render the expression tre

[2013-02-19 19:03] ilanpillemer commented on #32
I guess its just a personal preference. When dealing with projects with many classes I like the self-documenting nature of using suffixes - as I can see at a glance which classes are Visitors, which are Factories etc. But it makes no real difference when there are only a handful of classes. I just had to open up the java source file of every class to see what it was - rather than just know from th

[2013-02-20 11:33] ilanpillemer commented on #32
Also `describeTo` should be `accept`. I see value in keeping with convention as it allows people familiar with the visitor design pattern to understand the code much quicker.

I think the Visitor Suffix should be added back and `describeTo` should be `accept`.

[2013-02-20 11:38] ilanpillemer commented on #32
@sebrose

[code]

[2013-02-20 12:33] mattwynne commented on #32
On 20 Feb 2013, at 11:33, Ilan Pillemer notifications@github.com wrote:

[2013-02-20 17:22] ilanpillemer commented on #32
@mattwynne  Ok. I have thought about it a lot now... and in the end, I agree with you.
But I am not happy with the name `Explicit` and with the method `describeTo`.
I agree with you that `Renderer` is a better name for this visitor.
I would like to change `describeTo` to `walkWith`.

What do you think?

[2013-02-21 03:11] ilanpillemer commented on #32
And I think the `visit` methods should, at least in Java, all be renamed `walk`.

[2013-02-21 04:14] ilanpillemer commented on #32
And the `Visitor` interface interface itself should be renamed `Walker`.

@mattwynne does this align with what you are proposing in terms of domain oriented naming?
Thoughts?

[2013-02-21 11:21] mattwynne commented on #32
@ilanpillemer we're definitely thinking along the same lines now, yeah! However I think we're derailing this particular ticket by talking about this in detail here. Let's create another pull request to do/discuss the further renaming.

[2013-02-21 14:32] ilanpillemer commented on #32
@mattwynne will do. And I will create a pull request right now for the tests and fix for this issue.
The pull request is created in #33

[2013-02-22 09:55] #32 closed, assigned to nobody

[2013-02-24 13:09] gasparnagy commented on #4
created an initial structure using GPPG generation. this is using an initial grammar/lexer files, i have not tested them yet, but at least the generated stuff can be compiled.
I did not check it with Mono yet.
All this is in the csharp branch - if anyone want to pick up the thread.

[2013-02-24 14:26] ilanpillemer commented on #4
On Sunday, February 24, 2013, Gáspár Nagy wrote:

2) If I use Windows do I just open in Visual Studio 2013? Any steps for me
to follow?

##

Ilan

[2013-02-24 20:09] gasparnagy commented on #4
With Visual Studio 2012 it should build fine (currently the generated files are also included). The only thing is that you need the to enable nuget package restore.
I'm pretty sure it complies with MsBuild - so that can be used maybe on Mac.
To regenerate the parser/lexer from the grammar files, there is a generateall.cmd in the csharp/Grammar folder.

[2013-02-24 20:47] ilanpillemer commented on #4
On Sunday, February 24, 2013, Gáspár Nagy wrote:

Cool.

##

Ilan

[2013-02-25 06:15] ilanpillemer commented on #4
Are you adding the visitor stuff in? Should I take a stab at it this evening?

[2013-02-25 10:04] mattwynne commented on #4
Typed with my Thumbs.

On 24 Feb 2013, at 20:47, Ilan Pillemer notifications@github.com wrote:

We need to aim for a travis build which will require mono, right?

Personally I'd prefer not to have to use windows/visual studio to hack on it either, and I think we certainly should keep the code usable for contributors who want to use free tools.

[2013-02-25 10:09] ilanpillemer commented on #4
On Monday, February 25, 2013, Matt Wynne wrote:

That's my understanding too.

I also would prefer to only use free tools.

I am not a .NET expert in any way so my assistance in that regard is
limited.

But I someone can give me the steps to do this on my Mac I would really
appreciate it.

Also typed with my thumbs.

##

Ilan

[2013-02-25 10:15] aslakhellesoy commented on #4
According to travis-ci/travis-ci#649 there won't be mono on travis boxen, but there might be Windows/.NET one day.

We should still make sure it runs on Mono and can be built with a simple `make` so it's easy for non-Windows developers to hack on it.

[2013-02-25 10:17] aslakhellesoy opened #35 "Build on ruby 2.0.0"
I tried, and it [didn't work](https://travis-ci.org/cucumber/bool/jobs/5037126)

[2013-02-25 10:23] gasparnagy commented on #4
The entire project and the setup is very simple, so I would not worry about mono and non-windows building. I just don't have experience with Mono xbuild (the MsBuild compatible build system) and nuget support. But since we only have nunit as external nuget reference, we can even bypass the nuget stuff and just copy the necessary files to the bin folder.

[2013-02-25 13:03] aslakhellesoy commented on #35
All good: https://travis-ci.org/cucumber/bool/builds/5039936

[2013-02-25 13:03] #35 closed, assigned to aslakhellesoy

[2013-02-25 13:04] aslakhellesoy commented on #23
Can we close this ticket or are we still waiting for @dkowis to confirm?

[2013-03-01 21:42] dkowis commented on #23
I lost the email in all the other noise, sorry :( . I'll do this this weekend.

[2013-03-01 21:42] dkowis commented on #23
Aside: is there a way to get github to assign @beepdog to me? heh.

[2013-03-03 22:41] dkowis opened #37 "Failure building in linux"
Travis isn't failing so there must be something I'm failing to build or whatever, but I'm not sure what it could be, wasn't happening in 1.9.3 :(

[code]

[2013-03-03 22:42] dkowis commented on #37
Was trying to do #23, but i fail at things :(

[2013-03-04 08:03] mattwynne commented on #37
WOMM (OS X)

Looks like it hasn't downloaded mingw or put it into your path properly maybe?

[2013-03-04 08:04] aslakhellesoy commented on #37
@mattwynne you tried with `2.0.0-p0`?

[2013-03-04 08:56] mattwynne commented on #37
On 4 Mar 2013, at 08:05, Aslak Hellesøy notifications@github.com wrote:

➤ ruby -v
ruby 2.0.0p0 (2013-02-24 revision 39474) [x86_64-darwin12.2.0]

[2013-03-06 18:01] aslakhellesoy opened #38 "Prove that we can use UTF-8"
If Gherkin3 is going to use this project as a template, we have to make sure we can scan UTF-8 encoded input since many Gherkin translations rely on the unicode character set.

A simple way to do this is to create a `utf8` branch where we change `&&` (AND) to `øø` everywhere, both in lexer definitions and in tests. If everything passes we're fine, if not we have a problem....

[2013-03-06 18:03] aslakhellesoy commented on #38
Useful SO thread: http://stackoverflow.com/questions/9611682/flexlexer-support-for-unicode

[2013-03-07 08:30] aslakhellesoy opened #39 "Store semantic values in all AST nodes"
Example: When we create a new `And` node, we should not only store the `left` and `right` nodes, but also the [semantic value](http://www.gnu.org/software/bison/manual/html_node/Semantic-Values.html) of the token (`&&`).

This is not strictly needed for bool (although it could be used in the renderer), but it is going to be necessary for gherkin3 when we render features in reports.

[2013-03-07 08:39] aslakhellesoy commented on #37
I managed to hack around this:

[code]

This file needs to go into `ruby/tmp/x86-mingw32/bool_ext/2.0.0/win32/resolv.rb`. If we use this hack, it should be generated by the build script.

[2013-03-07 11:21] mattwynne commented on #39
On 7 Mar 2013, at 08:30, Aslak Hellesøy notifications@github.com wrote:

[2013-03-07 11:43] aslakhellesoy commented on #39
Yes, that's it. We need to store it since we have so many translated variants.

[2013-03-09 10:35] aslakhellesoy commented on #37
It occasionally happens on travis as well. See build [5363278](https://travis-ci.org/cucumber/bool/jobs/5363278).

[2013-03-11 20:14] aslakhellesoy opened #40 "Can't build mingw ruby 2.0.0-p0 on OS X"
Running `make winruby` fails with this:

[code]

[2013-03-11 20:43] #37 closed, assigned to nobody

[2013-03-11 23:53] aslakhellesoy commented on #37
@dkowis this should be fixed now. Can you try again?

[2013-03-14 11:20] dkowis commented on #23
#37 is resolved for me. I'll try to go through the release process tonight or tomorrow (probably tomorrow [Friday])

[2013-03-14 21:59] aslakhellesoy commented on #11
testing

[2013-03-14 22:01] #11 closed, assigned to sebrose

[2013-03-16 01:01] dkowis commented on #23
Woo hoo! I've released 1.0.14 after only 3 tries, heh.

[2013-03-16 01:01] #23 closed, assigned to dkowis

[2013-03-16 06:50] aslakhellesoy commented on #23
Awesome! I think we're enough people who know how to release this beast now :8ball:

[2013-03-17 22:36] chrismdp commented on #40
Looks like a compatibility issue with mingw-w64 4.5.4 and Ruby 2.0.0-p0 [1]. There's a fix in the works for ruby, or we can update mingw-w64 to a more recent version (not sure as to feasibility), or we could potentially patch people's mingw32 environment [2] if it's more urgent...

[1] http://www.ruby-forum.com/topic/4411245
[2] http://www.ruby-forum.com/topic/4411245#1098788

[2013-03-18 08:12] aslakhellesoy commented on #40
Good investigation. The top level [Makefile](https://github.com/cucumber/bool/blob/5f5c0243dc3e981545443c64f05a02bf6572582f/Makefile#L43-L46) deliberatrly installs an older version of mingw, but this is copied from gherkin's current build scripts. I don't remember why we couldn't use newer ones, but it might be because we're targetting ruby 1.8.7.

I think it would be worthwhile trying with a more

[2013-03-18 11:08] #40 closed, assigned to nobody

[2013-03-18 11:37] aslakhellesoy commented on #39
What I pushed to the `semantic-values` branch is probably garbage. If you want to work on this, you could start by modifying the AST nodes to include the value. For example (`ast.js`):

[code]

And `renderer.js`:

[code]

[2013-04-01 21:27] aslakhellesoy commented on #38
I have verified that with Ragel, multi-byte characters (such as å) work fine for recognition, but it puts the `firstColumn` and `lastColumn` values off, since they are based on `ts` and `te`, which seem to be counting bytes, not characters. This is not a huge problem since we're only likely to be using line numbers in error reporting anyway.

[2013-04-02 07:41] aslakhellesoy commented on #39
I have a fix for this in #47. Please review.

[2013-04-13 18:19] aslakhellesoy commented on #39
Fixed on master

[2013-04-13 18:19] #39 closed, assigned to nobody

[2013-04-15 17:53] aslakhellesoy commented on #17
No longer an issue now that we're using Ragel

[2013-04-15 17:53] #17 closed, assigned to nobody

[2013-05-01 09:41] paoloambrosio opened #49 "Release Karma Request"
User on Sonatype, RubyGems and NpmJs: paoloambrosio

Commented on Sonatype OSSRH-2050 (hope it's the right one)

[2013-05-01 11:44] aslakhellesoy commented on #49
Thanks. For npm we also need to give you cucumber-HTML karma. I'm w/o laptop for a week or so, so great if someone else can look into this. I think @jbpros might be the only other person with cucumber-HTML npm karma.

We also need to move the karma docs/tickets to the website repo - it's a cross project thing.

[2013-05-17 05:41] paoloambrosio commented on #49
Any update on this?

[2013-05-17 14:40] aslakhellesoy commented on #49
Done! Let me know if you need more.

Aslak

[2013-05-17 14:40] #49 closed, assigned to nobody

[2013-11-02 14:22] larskanis commented on #37
The root cause for this issue is in the platform faking mechanism of rake-compiler when used with `bundle exec`. I've proposed a patch for this: https://github.com/luislavena/rake-compiler/pull/83 . That should obsolete the monkey patch above.

[2014-08-28 15:30] Joris-van-der-Wel opened #50 "npm install bool is broken"
[code]

The file lib/parser.js file is missing...
If I `cd` into node_modules/bool and execute `make`, the file "lib/parser.js" gets generated and this solves the issue.

[2015-01-04 18:50] tom025 opened #51 "gem install bool is broken"
`gem install bool -v 1.0.20` fails with ruby version 2.1.5 on Mac OS 10.10

Install output

[code]

This happens when using either clang or gcc-4.8.

This can be overcome simply by appending the install command with `-- -with-cflags=-w` to ignore unused constants when compiling the gem.

I am not sure how to fix this myself without just removing the flag from `ruby/ext/bool_ext/extconf.rb`.

[2015-01-04 19:35] aslakhellesoy commented on #51
Thanks @tom025. The purpose of this lib was to prototype a new architecture for Gherkin. It looks like we're going to use a different approach (see the gherkin3 repo) so we might not even use bool. If we decide to ditch bool I'd still like to have a simple parser that can parse boolean expressions for tags, but we can do that with something much simpler.